/* propriétés générales de la page */ 
body {
    /*background-color:#FFFFFF;*/
    background-color:#F4F4F4;
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 90%;
}
/* propriétés du menu */	
/*
ul.navbar li {
        list-style-type: none;
        background: #F8F8FF;
        margin: 0.5em 0;
        padding: 0.3em;
        border-right: 1em solid gray ;
        }
*/ 
.noti_bubble_moz {
    position:absolute;
    top:+8px;
    right: -5px;
    padding:1px 3px 1px 3px;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size:0.8em;
    z-index: 2;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}​

/* propri�t�s du titre */
#titre {
    text-align:center;
    color: #24618e; 
    font-size: 24px;
    font-weight: bold; 
}

/* propri�t�s du titre */
#titre {
    text-align:center;
    color: #24618e; 
    font-size: 24px;
    font-weight: bold; 
}	
/* propri�t�s du chemin de fer */
#chemin_fer {	
    /*border-bottom:1px solid #24618E;*/
    font-size: 80%;
}
/* propri�t�s des liens (de base et d�j� visit�s) contenus dans le bloc chemin_fer */
#chemin_fer a:link, #chemin_fer a:visited {
    color:#FF9933;
    /*font-weight:bold;*/
    text-decoration:none;
}

/* propri�t�s des liens (au dessus et actifs) contenus dans le bloc chemin_fer */
#chemin_fer a:hover, #chemin_fer a:active {
    text-decoration:underline overline;
}

#iWeb_Version {
    font-size: 8px;
    color: gray;
    top: -15px;
    position: relative;
}



/* bloc central uniquement cr�e pour uniformiser les hauteurs des deux blocs contenus (menu_vertical et contenu) */
#bloc_central {
}

/* propri�t�s du menu vertical */
#menu_vertical { 
    float: left; 
    /* width: 20%; */
    /* height:300px; */
    list-style-image: url("./images/key_param.png");
    overflow-x: auto;
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
} 

/* propri�t�s des liens (de base et d�j� visit�s) contenus dans le bloc menu_vertical */
#menu_vertical a:link, #menu_vertical a:visited {
    color:#24618e;
    font-size:16px;
    text-decoration:none;
    font-size: 90%;
}

/* propri�t�s des liens (au dessus et actifs) contenus dans le bloc menu_gauche */
#menu_vertical a:hover, #menu_vertical a:active {
    text-decoration:underline;
} 

/* propri�t�s du contenu */	
#contenu {
    /*margin-left: 21%; */
    padding: 1em; 
    /*height:300px; */
    font-size: 90%;
}

/* propri�t�s des icons langues */	
#langues {
    display: inline;
    text-align:left;
    font-size: 80%;     
}
#list_langues:hover {
    cursor: pointer;
    cursor: hand;
}
#lang li {
    display: none;
}
/* propri�t�s loging logout */	
#login_out {
    display: inline;
    font-size: 90%;
}
/* propri�t�s du pied de page */
#pied_page {
    clear:both;
    text-align:center;
    margin-top: 0em;
    padding-top: 1em;
    border-top: 1px solid #24618E;
    font-size:80%;
} 

#IP_Sepcos2 {
    text-align:left;
    width: 100%; 
}

#sim_input {
    border: 1px solid #7f9db9;
    background-color: #ebebe4;
    padding: 2px 10px 2px 1px;
    color: #545454;
}

#timefooter{
    display: inline; /* Suppression saut de ligne */
}
#Copyright {
    text-align:center;
}
/* comportement de la liste dans le bloc menu_horizontal */
#menu_horizontal li {
    margin-right:40px;
    list-style-type: none;
    display: inline;
} 
/* propri�t�s des liens (de base et d�j� visit�s) contenus dans le bloc menu_horizontal */
#menu_horizontal a:link, #menu_horizontal a:visited {
    color:#339999;
    font-weight:bold;
    text-decoration:none;
    border: thin;
}
/* propri�t�s des liens (au dessus et actifs) contenus dans le bloc menu_horizontal */
#menu_horizontal a:hover, #menu_horizontal a:active {
    text-decoration:underline overline;
}

#tabs {
    float:left;
    width:100%;
    background:#F4F4F4;
    font-size:90%;
    line-height:normal;
    border-bottom:1px solid #24618E;
}
#tabs ul {
    margin:0;
    padding:10px 10px 0 50px;
    list-style:none;
}
#tabs li {
    display:inline;
    margin:0;
    padding:0;
}
#tabs a {
    float:left;
    background:url("./images/tableftJ.gif") no-repeat left top;
    margin:0;
    padding:0 0 0 5px;
    text-decoration:none;
}
#tabs a span {
    float:left;
    display:block;
    background:url("./images/tabrightJL.gif") no-repeat right top;
    padding:5px 15px 4px 6px;
    color:#24618E;
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}
/* End IE5-Mac hack */
#tabs a:hover span {
    color:#FFF;
}
#tabs a:hover {
    background-position:0% -42px;
}
#tabs a:hover span {
    background-position:100% -42px;
}
#tabs a#actif span {
    color:#FFF;
}
#tabs a#actif {
    background-position:0% -42px;
}
#tabs a#actif span {
    background-position:100% -42px;
}
#blanket {
    background-color:#111;
    opacity: 0.65;
    filter:alpha(opacity=65);
    position:absolute;
    z-index: 9001;
    top:0px;
    left:0px;
    width:100%;
}

#blanket1 {
    background-color: #111;
    opacity: 0.65;
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

#popUpDiv {
    position:relative;
    background-color:#eeeeee;
    padding:10px 10px 10px 10px;
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 12px;
}

#popUpDiv form label {
    margin-top: 15px;
    margin-bottom: 15px;
}

#loginError {
    color: red;
}

#popUpModifUser {
    position:absolute;
    background-color:#eeeeee;
    width:200px;
    /* height:340px; */
    z-index: 9002;
    padding:10px 10px 10px 10px;
    border:1px solid #AAA;
    font-size:90%;
}

#popUpCmd {
    background-color:#eeeeee;
    width:200px;
    z-index: 9002;
    padding:10px 10px 10px 10px;
    border:1px solid #AAA;
    font-size:90%;
    position: absolute;
    top: 35%;
    left: 35%;
}

.tooltip {
    /* border-bottom: 1px dotted #000000; color: #000000; outline: none;
    cursor: help; text-decoration: none; */
    position: relative;
}
.tooltip span {
    margin-left: -999em;
    position: absolute;
}
.tooltip:hover span {
    border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
    font-family: Calibri, Tahoma, Geneva, sans-serif;
    position: absolute; left: 1em; top: 2em; z-index: 99;
    margin-left: 0; width: 120px;
}
.tooltip:hover img {
    border: 0; margin: -10px 0 0 -55px;
    float: left; position: absolute;
}
.tooltip:hover em {
    font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
    display: block; padding: 0.2em 0 0.6em 0;
}
.classic { padding: 0.8em 1em; }
.custom { padding: 0.5em 0.8em 0.8em 2em; }
* html a:hover { background: transparent; }
.classic {background: #FFFFAA; border: 1px solid #FFAD33; }
.critical { background: #FFCCAA; border: 1px solid #FF3334;	}
.help { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.info { background: #9FDAEE; border: 1px solid #2BB0D7;	}
.warning { background: #FFFFAA; border: 1px solid #FFAD33; }


/* CSS Tree menu styles */
ol.tree
{
    padding: 0 0 0 15px;
    width: 220px;

}
li 
{ 
    position: relative; 
    margin-left: -15px;
    list-style: none;
}
li.file
{
    margin-left: -1px !important;
}
li.file a
{
    background: url(./images/b_sbrowse.png) 0 0 no-repeat;
    color: #fff;
    padding-left: 21px;
    text-decoration: none;
    display: block;
}
li.file a[id *= 'prot_enabled']
{
    background: url(./images/green-led-on-16x16.png) 0 0 no-repeat;
    color: #fff;
    padding-left: 21px;
    text-decoration: none;
    display: block;
}
li.file a[id *= 'prot_disabled']
{
    background: url(./images/green-led-off-16x16.png) 0 0 no-repeat;
    color: #fff;
    padding-left: 21px;
    text-decoration: none;
    display: block;
}
li.file a[href *= '.pdf']	{ background: url(./images/Pdf_16x16.png) 0 0 no-repeat; }
li.file a[href *= '.html']	{ background: url(./images/b_sbrowse.png) 0 0 no-repeat; }
li.file a[href $= '.css']	{ background: url(./images/b_sbrowse.png) 0 0 no-repeat; }
li.file a[href $= '.js']	{ background: url(./images/b_sbrowse.png) 0 0 no-repeat; }
li input
{
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
li input + ol
{
    background: url(./images/toggle-small-expand.png) 40px 0 no-repeat;
    margin: -0.938em 0 0 -44px; /* 15px */
    xdisplay: block;
    height: 1em;
}
li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
li label
{
    background: url(./images/folder-horizontal.png) 15px 1px no-repeat;
    cursor: pointer;
    display: block;
    padding-left: 37px;
}
li input:checked + ol
{
    background: url(./images/toggle-small.png) 40px 5px no-repeat;
    margin: -1.25em 0 0 -44px; /* 20px */
    padding: 1.563em 0 0 80px;
    height: auto;
}
li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }

input.lock { 
    background-image: url(./images/lock.png); 
    background-repeat: no-repeat; 
    background-position: right center; 
    padding-left: 0.5em; 
}

input.cmd_button {
    white-space: normal;
}

.topTitle 
{ color: #24618e; 
  font-size: 18px;
  font-weight: bold; 
}

.subTitle { 
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

div.backToTopButton {

    font-size: 12px;

    color: #000000;
    background-color: #FF9933;

    padding: 3px 10px 20px 10px;
    width:50px;
    text-align: center;

    border-width : thin thin thin thin;
    border-color : #000000 #000000 #000000 #000000;
    border-style : solid solid solid solid;
    border-collapse : collapse;

    -moz-border-radius: 10px;
    border-radius: 10px;

    position: fixed;
    bottom: -20px; 
    /* top: -20px; */ 
    right: 10px;

    z-index: 200;
}

div.backToTopButton:hover {
    color: #ffffff;
    background-color: #24618e;

    cursor: pointer;
    cursor: hand;
}

div.LoginButton {

    font-size: 12px;

    color: #000000;
    background-color: #FF9933;

    padding: 5px 15px 5px 15px;
    /*width:50px;*/
    text-align: center;

    border-width : thin thin thin thin;
    border-color : #000000 #000000 #000000 #000000;
    border-style : solid solid solid solid;
    border-collapse : collapse;

    -moz-border-radius: 10px;
    border-radius: 10px;

    position: fixed; 
    top: -20px;  
    right: 10px;

    z-index: 200;
}

div.LoginButton:hover {
    color: #ffffff;
    background-color: #24618e;

    cursor: pointer;
    cursor: hand;
}

#miniGraph { 
    font-size: 14px;

    color: #000000;

    padding: 5px 15px 5px 15px;

    text-align: center;

    position: fixed; 
    bottom: 0px;  
    right: 120px;

    z-index: 200;
}
#miniGraph strong { 
    font-size: 0.8em; 
}

#noti_Container {
    position:relative;
}

#noti_Container_moz {
    position:relative;
}

.noti_bubble {
    position:absolute;
    top:-5px;
    right: -5px;
    padding:1px 3px 1px 3px;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size:0.8em;
    z-index: 2;
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}​

/* JQUERY dialog styling */
.ui-widget {
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 12px;
}
.ui-dialog-titlebar.ui-corner-all {
    border-color: #24618E;
    background: url('images/ui-bg_gloss-wave_35_f6a828_500x100.png') repeat-x scroll 50% 50% #24618E;
}
.ui-dialog-title {
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 12px;
    font-weight: bold;
}
.ui-dialog-content {
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 10px;
}
button.ui-dialog-buttonset {
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 12px;
}
.ui-dialog-buttonpane {
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 14px;
}
.no-close .ui-dialog-titlebar-close {
    display: none;
}
#dialog-result {
}
.dialog-log-class {
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 10px;
    display: inline-block;
}
.dialog-accordion-header.ui-accordion-header {
    font-family: Verdana, Arial, Helvetica, Sans Serif;
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-color: #24618E;
    color: #24618E;
}
.dialog-accordion-header span {
    color: #24618E;
}
.dialog-collapse .ui-widget {
    font-size: 10px;
}
.ui-widget .ui-accordion .ui-accordion-header {
    font-size: 12px !important;
    padding: 5px;
    font-family: Verdana, Arial, Helvetica, Sans Serif;
}
.dialog-log-wrapper {
    height: 100% !important;
}
.install-table {
    border-collapse: collapse;
}
.install-table td {
    border: 2px solid #545454;
    padding: 10px;
}
.userNotAllowed {
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #FF9933;
    border: #000000 solid 1px;
    border-radius: 3px;
    max-width : 100px
}
.home-fieldset {
    display: inline-block;
}
.home-innerfieldset {
    position: relative;
    display: inline-block;
}
.home-synoptic {
    position: relative;
    width: 620px;
    float: left;
    display: block;
}
.home-buttons {
    position: relative;
    float: left;
    display: none;
}
.color-led {
    width: 120px;
    height: 42px;
    text-align: center;
    border-radius: 5px;
    background-image: url("images/gloss2.png");
    background-repeat:  repeat-x;
    background-position: 50% 50%;
}
.real-led {
    width: 22px;
    height: 22px;
    margin: 10px;
}

td.scope_control_channel_box {
    border: darkgrey 1px solid;
    border-radius: 5px;
    padding: 10px;
    background-color: #FBFBFB;
}
td.scope_control_channel_box select {
    margin-top: 7px;
}
.align-top {
    vertical-align: top;
}

input#scope-button-pause {
    width: 50%;
    background-image: url("images/pause");
    background-repeat: no-repeat;
    background-position: center;
    height: 60px;
}

input#scope-button-pause.paused {
    background-image: url("images/play");
}

#screenshot-button {
    height: 60px;
    float: right;
}